version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tarkov-search-backend
    ports:
      - "8000:8000"
    environment:
      - DEBUG=False
      - ENVIRONMENT=production
    volumes:
      - ./:/app
    restart: unless-stopped
    networks:
      - tarkov-search-network

networks:
  tarkov-search-network:
    driver: bridge
